.c-blank-wrapper {
  padding: $content-padding-large;
  overflow: hidden;
  text-align: center;

  .c-blank-icon {
    margin-bottom: $component-span;
    font-size: $component-size-larger;
    color: $text-color-placeholder;
  }

  &.default {
    .c-blank-icon {
      font-size: $component-size-larger;
    }
  }

  &.small {
    .c-blank-icon {
      font-size: $component-size;
    }
  }

  .c-blank {
    display: block;
    padding: 0 $content-padding;
    font-size: $font-size-small;
    color: $text-color-placeholder;
    user-select: none;
  }
}
