.c-breadcrumb {
  position: relative;
  display: block;
  padding: 0;

  &.separator {
    .c-breadcrumb-list {
      padding: 0;
      margin: 0;
      border-radius: 0;
      font-size: $font-size-small;
      color: $text-color-title;
      background-color: transparent;

      .c-breadcrumb-item {
        display: inline-flex;
        align-items: center;

        &-link {
          position: relative;
          display: block;
          text-decoration: none;
          color: $text-color-title;
        }

        &-separator {
          margin: 0 $text-padding;
          color: $split-color;
        }
      }
    }
  }
}
