.c-dropdown-menu {
  top: 0;
  left: 0;
  margin: 0;
  padding: $text-padding 0;

  @include drop;
  box-shadow: getCssVar('box-shadow', 'light');
  @include list-un-styled;

  .c-dropdown-menu-header {
    padding: $content-padding;
    margin: 0;
    font-weight: 300;
    font-size: $font-size-small;
    color: $color-black;
    background-color: $background-color-component;
  }

  .c-dropdown-menu-item {
    display: flex;
    align-items: center;
    padding: 0 $content-padding-middle;
    height: $component-size;
    font-size: $font-size;
    color: $text-color-primary;
    white-space: nowrap;
    transition: background $transition-time $ease-in-out;
    cursor: pointer;

    .c-dropdown-menu-item-icon {
      margin-right: $text-span;
    }

    &:hover {
      background: $background-color-component-hover;
    }

    &:not(.disabled):hover,
    &:focus {
      background: $background-color-component-hover;
    }

    @include user-select-none;

    @include when(disabled) {
      color: $text-color-disabled;
      cursor: default;
      pointer-events: none;
    }

    @include m(divided) {
      position: relative;
      border-top: $border-width solid $split-color;
    }
  }
}
