.c-loading-bar {
  position: fixed;
  z-index: $z-index-loading-bar;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  &-inner {
    transition: width $transition-time linear;

    &-color-primary {
      background-color: $color-primary;
    }

    &-failed-color-error {
      background-color: $color-error;
    }
  }
}
