@use 'sass:map';
@use 'sass:math';

$menus: () !default;
$menus: map.merge(
                (
                        'active-text-color': getCssVar('text-color-primary'),
                        'text-color': getCssVar('text-color-primary'),
                        'hover-text-color': getCssVar('color-primary'),
                        'icon-color': getCssVar('text-color-placeholder'),
                        'toggle-icon-color': getCssVar('text-color-placeholder'),
                        'background-color': getCssVar('fill-color', 'blank'),
                        'hover-background-color': getCssVar('fill-color-lighter'),
                        'active-background-color': getCssVar('fill-color-light')
                ),
                $menus
);

:root {
  // They are defined on :root so they can be inherited by sub-menu instead of overwritten
  @include set-component-css-var('menu', $menus);
}

.c-menu {
  background-color: getCssVar('menu-background-color');
  margin-bottom: 0;
  @include list-un-styled;

  .c-menu-item {
    outline: none;
    cursor: pointer;

    &.disabled {
      cursor: not-allowed;
      opacity: 0.25;
    }
  }

  .c-menu-item-icon {
    display: block;
    margin-right: $component-span;
    font-size: $font-size-large;
  }

  .c-menu-item-title {
    @include user-select-none;
  }

  .c-submenu {
    outline: none;
    cursor: pointer;

    .c-submenu-title-box {
      .c-submenu-toggle-icon {
        font-size: $font-size-mini;
        color: getCssVar('menu-toggle-icon-color');
      }
    }
  }

  &.horizontal {
    height: $component-size-larger;
    display: flex;
    align-items: center;

    &.bordered {
      border-bottom: solid $border-width getCssVar('menu-border-color');
    }

    .c-menu-item,
    .c-submenu {
      position: relative;
      margin-right: $component-span;
    }

    .c-menu-item-title-box,
    .c-submenu-title-box {
      display: flex;
      align-items: center;
      padding: $text-padding $content-padding;
      border-radius: $border-radius;
      color: getCssVar('menu-text-color');
    }

    .c-menu-item {
      &:hover {
        .c-menu-item-title-box {
          background-color: getCssVar('menu-hover-background-color');
        }
      }

      &.active {
        .c-menu-item-title-box {
          background-color: getCssVar('menu-active-background-color');
          color: getCssVar('menu-active-text-color');
          font-weight: bold;
        }
      }
    }

    .c-submenu {
      &.active {
        .c-submenu-title-box {
          background-color: getCssVar('menu-active-background-color');
          color: getCssVar('menu-active-text-color');

          .c-submenu-toggle-icon {
            color: getCssVar('menu-active-text-color');
          }
        }
      }

      .c-submenu-title-box {
        .c-submenu-toggle-icon {
          display: inline-block;
          margin-left: $component-span;
          font-size: $font-size-mini;
          vertical-align: middle;
        }
      }
    }
  }

  &.horizontal-collapse-transition {
    transition: $transition-time width ease-in-out, $transition-time padding-left ease-in-out, $transition-time padding-right ease-in-out;

    .c-menu-item-title {
      opacity: 0;
      transition: $transition-time;
    }

    .c-submenu-toggle-icon {
      opacity: 0;
      transition: $transition-time;
    }
  }

  &.vertical {
    margin-bottom: 0;

    &.bordered {
      border-right: solid $border-width getCssVar('menu-border-color');
    }

    .c-menu-item-title {
      display: block;
      overflow: hidden;
      font-size: $font-size;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
      user-select: none;

      @include flex-adapter;
    }

    .c-menu-item-icon {
      color: getCssVar('menu-icon-color');
    }

    .c-menu-item-title-box,
    .c-submenu-title-box {
      position: relative;
      height: $component-size-large;
      padding: 0 $component-span + $font-size-large 0 0;
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;
      color: getCssVar('menu-text-color');
    }

    .c-menu-item {
      .c-menu-item-title-box {
        &:hover {
          background-color: getCssVar('menu-hover-background-color');
        }
      }

      &.active {
        .c-menu-item-title-box {
          background-color: getCssVar('menu-active-background-color');
          color: getCssVar('menu-active-text-color');

          .c-menu-item-icon {
            color: getCssVar('menu-active-text-color');
          }
        }
      }
    }

    .c-submenu {
      .c-submenu-title-box {
        &:hover {
          background-color: getCssVar('menu-hover-background-color');
        }

        .c-submenu-toggle-icon {
          position: absolute;
          top: 50%;
          right: $content-padding;
          display: block;
          margin-top: - $font-size-small / 2;
          text-align: center;
          transition: $transition-time;
        }
      }

      &.opened {
        & > .c-submenu-title-box {
          .c-submenu-toggle-icon {
            transform: rotate(180deg);
            transform-origin: center;
          }
        }
      }
    }

    &.collapse {
      width: $collapse-sidebar-width;

      > .c-menu-item {
        > .c-menu-item-title-box {
          .c-tooltip {
            display: flex !important;
            align-items: center !important;
            padding: 0 $component-span + $font-size-large !important;
          }

          .c-menu-item-icon {
            margin-right: 0;
          }

          .c-menu-item-title {
            display: inline-block;
            width: 0;
            height: 0;
            overflow: hidden;
            visibility: hidden;
          }
        }
      }

      > .c-submenu {
        > .c-submenu-title-box {
          .c-menu-item-icon {
            margin-right: 0;
          }

          .c-menu-item-title {
            display: inline-block;
            width: 0;
            height: 0;
            overflow: hidden;
            visibility: hidden;
          }

          .c-submenu-toggle-icon {
            display: none;
          }
        }
      }
    }
  }
}

.c-menu-popup {
  z-index: 100;
  min-width: 200px;
  padding: $text-padding;
  border: none;
  border-radius: $border-radius;
  background: $background-color-overlay;
  box-shadow: getCssVar('box-shadow-light');

  &-bottom-start {
    margin: $component-span-small 0;
  }

  &-right-start {
    margin: 0 $component-span-small;
  }

  .c-menu-item {
    &:not(:last-child) {
      margin-bottom: $text-span;
    }

    .c-menu-item-title-box {
      padding: $content-padding $content-padding-large;
      border-radius: $border-radius;

      &:hover {
        background-color: getCssVar('menu-hover-background-color');
      }
    }

    &.active {
      .c-menu-item-title-box {
        background-color: getCssVar('menu-active-background-color');
        color: getCssVar('menu-active-text-color');
      }
    }
  }

  .c-submenu {
    &:not(:last-child) {
      margin-bottom: $text-span;
    }

    .c-submenu-title-box {
      display: flex;
      align-items: center;
      padding: $content-padding $content-padding-large;
      border-radius: $border-radius;

      &:hover {
        background-color: getCssVar('menu-hover-background-color');
      }

      .c-menu-item-title {
        flex: 1;
      }

      .c-submenu-toggle-icon {
        font-size: $font-size-mini;
        transform: rotateZ(90deg);
      }
    }
  }
}
