.c-notification {
  display: flex;
  width: $notification-width;
  padding: $content-padding;
  border-radius: $border-radius;
  box-sizing: border-box;
  position: fixed;
  background-color: $background-color-overlay;
  box-shadow: getCssVar('box-shadow', 'light');
  transition: opacity $transition-time, transform $transition-time, left $transition-time, right $transition-time, top $transition-time, bottom $transition-time;
  overflow: hidden;

  &.right {
    right: $content-padding;
  }

  &.left {
    left: $content-padding;
  }

  &-group {
    flex: 1;
    margin-left: $component-span;
    margin-right: $component-span;
  }

  &-close-button {
    position: absolute;
    right: $content-padding;
    top: $content-padding;
  }

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: $component-span;
  }

  &-title {
    flex: 1;
    font-weight: bold;
    font-size: $font-size-large;
    color: $text-color-title;
  }

  &-content {
    font-size: $font-size;
    color: $text-color-regular;
    text-align: justify;

    p {
      margin: 0;
    }
  }

  &-icon {
    height: $component-size;
    width: $component-size;
    font-size: $component-size;
  }

  &.info {
    .c-notification-icon {
      color: $color-info !important;
    }
  }

  &.success {
    .c-notification-icon {
      color: $color-success !important;
    }
  }

  &.warning {
    .c-notification-icon {
      color: $color-warning !important;
    }
  }

  &.error {
    .c-notification-icon {
      color: $color-error !important;
    }
  }
}

.notification-fade-enter {
  &.right {
    right: 0;
    transform: translateX(100%);
  }

  &.left {
    left: 0;
    transform: translateX(-100%);
  }
}

.notification-fade-leave-active {
  opacity: 0;
}
