.c-picture-blank {
  padding: 2*$space 0;
  text-align: center;

  .c-picture-blank-icon {
    display: block;
    font-size: $component-size-huger;
    line-height: 1;
    color: $text-color-placeholder;
  }

  .c-picture-blank-text {
    display: block;
    color: $text-color-secondary;

    @include user-select-none;
  }
}
