.c-spinner-circle {
  border-style: solid;
  border-color: rgba(51,51,70,.4);
  border-left-color: #00a3ff;
  border-radius: 50%;
  animation: technoSpinnerAnimation .8s infinite linear
}

@keyframes technoSpinnerAnimation {
  0% {
    transform: rotate(0deg);
    border-left-color: #00a3ff
  }

  25% {
    border-left-color: #ce58eb
  }

  50% {
    border-left-color: #00a3ff
  }

  75% {
    border-left-color: #2fa74d
  }

  100% {
    transform: rotate(360deg);
    border-left-color: #00a3ff
  }
}