.c-statistic {
  &-title {
    margin-bottom: $text-span;
    color: $text-color-regular;
    font-size: $font-size;
  }

  &-content {
    color: $text-color-title;
    font-size: $font-size-largest;
    font-weight: bold;

    &-value {
      &-decimal {
        font-size: $font-size-large;
      }
    }

    &-prefix,
    &-suffix {
      display: inline-block;
    }

    &-prefix {
      margin-right: $text-span;
    }

    &-suffix {
      margin-left: $text-span;
      font-size: $font-size-large;
    }
  }
}
