.c-swiper {
  position: relative;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;

  &-container {
    position: relative;
    height: 300px;
  }

  .c-swiper-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    transition-property: transform;
  }

  .c-swiper-slide {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    transition-property: transform;
  }

  &-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: $component-size;
    height: $component-size;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;
    outline: none;
    font-size: $component-size;
    font-family: inherit;
    line-height: inherit;
    text-align: center;
    color: #fff;
    background-color: transparent;
    transform: translateY(-50%);
    transition: $transition-time;
    cursor: pointer;

    & > * {
      vertical-align: baseline;
    }

    &-prev {
      left: $content-padding;
    }

    &-next {
      right: $content-padding;
    }
  }

  &-indicators {
    position: absolute;
    z-index: 10;
    bottom: $component-span;
    width: 100%;
    padding: $space-half;
    text-align: center;

    .c-swiper-pagination-bullet {
      display: inline-block;
      width: $space;
      height: $space;
      margin: 0 $text-span;
      border-radius: 100%;
      outline: none;
      font-size: 0;
      text-align: center;
      color: transparent;
      background: #000;
      opacity: 0.2;
      transition: all $transition-time;
      cursor: pointer;

      &:hover {
        opacity: .7;
      }

      &.c-swiper-pagination-bullet-active {
        background-color: $color-primary;
        opacity: 1;
      }
    }
  }
}
