$switch-size: $component-size-smaller;

.c-switch {
  position: relative;
  display: inline-flex;
  height: $switch-size;
  border: $border-width solid $border-color;
  border-radius: $switch-size;
  line-height: $switch-size - (2*$border-width);
  vertical-align: middle;
  background-color: $text-color-disabled;
  transition: all $transition-time $ease-in-out;
  cursor: pointer;
  user-select: none;

  &.checked {
    .c-switch-inner {
      color: #fff;
    }
  }

  .c-switch-inner {
    position: relative;
    right: 0;
    padding-left: #{$switch-size -(2*$border-width)};
    font-size: $font-size-small;
    text-align: center;
    color: white;

    .c-switch-inner-container {
      padding: 0 $text-padding;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    i {
      width: $switch-size/2;
      height: $switch-size/2;
      text-align: center;
    }
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: $switch-size -(2*$border-width);
    height: $switch-size -(2*$border-width);
    border-radius: $switch-size -(2*$border-width);
    background-color: #fff;
    transition: left $transition-time $ease-in-out, width $transition-time $ease-in-out;
    cursor: pointer;
    content: '';
  }

  &:active::after {
    width: $switch-size;
  }

  &:focus {
    outline: 0;

    box-shadow: getCssVar('box-shadow', 'light');
  }

  &:focus:hover {
    box-shadow: none;
  }

  &.checked {
    border-color: $color-primary;
    background-color: $color-primary;

    .c-switch-inner {
      left: 0;
      padding-right: #{$switch-size -(2*$border-width)};
      padding-left: 0;
    }

    &::after {
      left: calc(100% - #{$switch-size -(2*$border-width)});
    }

    &:active::after {
    }
  }

  &.disabled {
    border-color: $background-color-component-disabled;
    background: $background-color-component-disabled;

    &::after {
      background: $background-color-component;
      cursor: not-allowed;
    }

    .c-switch-inner {
      color: $background-color-component;
    }
  }
}
