@import "./date-picker/picker.scss";
@import "./date-picker/date-picker.scss";
@import "./scrollbar.scss";
@import "./popper";

.time-select {
  margin: $text-padding 0;
  min-width: 0;
}

.time-select .c-picker-panel-content {
  max-height: 200px;
  margin: 0;
}

.time-select-item {
  padding: $text-padding $content-padding;
  font-size: $font-size;
}

.time-select-item.selected:not(.disabled) {
  color: $color-primary;
  font-weight: bold;
}

.time-select-item.disabled {
  color: $text-color-disabled;
  cursor: not-allowed;
}

.time-select-item:hover {
  background-color: $background-color-component-hover;
  font-weight: bold;
  cursor: pointer;
}
