@include b(time-spinner) {
  &.has-seconds {
    .c-time-spinner-wrapper {
      width: 33.3%;
    }
  }

  @include e(wrapper) {
    position: relative;
    display: inline-block;
    width: 50%;
    max-height: 190px;
    vertical-align: top;

    & .c-scrollbar-wrap:not(.c-scrollbar-wrap-hidden-default) {
      padding-bottom: 15px;
    }

    @include when(arrow) {
      box-sizing: border-box;
      overflow: hidden;
      text-align: center;

      .c-time-spinner-list {
        transform: translateY(-32px);
      }

      .c-time-spinner-item:hover:not(.disabled):not(.active) {
        background: $background-color-component-hover;
        cursor: default;
      }
    }
  }

  @include e(arrow) {
    position: absolute;
    z-index: $z-index-normal;
    left: 0;
    width: 100%;
    font-size: $font-size-small;
    text-align: center;
    color: getCssVar('color-sub');
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }

    &.arrow-up {
      top: $content-padding;
    }

    &.arrow-down {
      bottom: $content-padding;
    }
  }

  @include e(input) {
    &.c-input {
      width: 70%;

      .c-input-inner {
        padding: 0;
        text-align: center;
      }
    }
  }

  @include e(list) {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    &::after,
    &::before {
      display: block;
      width: 100%;
      height: 72px;
      content: '';
    }
  }

  @include e(item) {
    height: $component-size;
    font-size: $font-size-small;
    line-height: $component-size;
    color: $text-color-regular;

    &:hover:not(.disabled):not(.active) {
      background: $background-color-component-hover;
      cursor: pointer;
    }

    &.active:not(.disabled) {
      font-weight: bold;
      color: $text-color-regular;
    }

    &.disabled {
      color: $text-color-disabled;
      cursor: not-allowed;
    }
  }
}
