.demo-radius .title {
  margin: $component-span 0;
  font-size: $font-size-large;
  color: $text-color-title;
}

.demo-radius .value {
  margin: $component-span 0;
  font-size: $font-size-large;
  color: $text-color-title;
}

.demo-radius .radius {
  height: 60px;
  margin-top: $component-span;
  border: $border-width solid $border-color;
  border-radius: 0;
}

.demo-radius .radius-30 {
  border-radius: 30px;
}

.demo-shadow {
  width: 50%;
  height: 100px;
  border: $border-width solid $border-color;
}

.demo-shadow-text {
  font-size: $font-size;
  line-height: 50px;
  color: $text-color-regular;
}
